@charset "UTF-8";

html {
  scroll-padding-top: 3.5rem;
}

header {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

section {
  padding-top: 3rem;
  padding-bottom: 9rem;
}

#contact {
  padding-top: 1.5rem;
}

.header-container {
  background-color: #fff5ec;
  width: 50%;
  border-radius: 10px;
}

.header-text {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

@media screen and (max-width: 600px) {
  .header-text {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

.bg-colour {
  background-color: #fff5ec;
}

.navbar-collapse {
  justify-content: flex-end;
  padding: 10px 0px 0px 0px;
}

.navbar-toggler {
  background-color: #eab07d !important;
}

.bg-home {
  background-color: #eab07d;
}

.bg-colour-new {
  background-color: #fff5ec;
}

.page-sections {
  height: 100vh;
}

.nav-link {
  color: #593f3b !important; 
}

.map-iframe {
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.navbar {
  padding-bottom: 0px !important;
}

.navbar-toggler {
  margin-bottom: 7px !important;
}

.navbar-branding {
  text-decoration: none;
  font-size: 1.25rem;
  color: #fff;
  padding-left: 15px;
  padding-bottom: 10px;
}

h1, h2 {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}

p, li {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}

.call-icon {
  text-decoration: none;
  color: #eab07d;
}

.social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.icon-size {
  font-size: 3.5rem;
}