@charset "UTF-8";

html {
  scroll-padding-top: 8rem;
}

#about, #services, #gallery, #home {
  padding-top: 2rem;
  padding-bottom: 6rem;
}

#contact {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1, h3, h4 {
  color: #dd9a2e;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}

p, li, h2, h5 {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}

li {
  color: #fff5ec;
}

/* Navbar */
#mainNav {
  flex-direction: column;
}

.call-icon {
  text-decoration: none;
  color: #fff5ec;
}

.nav-tabs .nav-link.active {
  background-color: #fff5ec !important;
}

.navbar-collapse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0px 0px 0px;
  background-color: #faece0 !important;
}

.navbar-toggler {
  background-color: #fff5ec !important;
}

.nav-link {
  color: #593f3b !important; 
}

.navbar {
  padding-bottom: 0px !important;
  --bs-navbar-padding-y: 0!important;
}

.navbar-toggler {
  margin-bottom: 7px !important;
}

.navbar-branding {
  text-decoration: none;
  font-size: 1.25rem;
  color: #fff;
  padding-left: 15px;
  padding-bottom: 10px;
}

.bg-colour-new {
  background-color: #faece0;
}

.nav-contact {
  background-color: #dd9a2e;
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}

.navbar-custom {
  height: 85px;
}

.nav-contact-text {
  margin-bottom: 0;
  font-size:large;
}

.nav-contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: white 1px solid; 
}

.nav-contact-info:last-of-type {
  border-right: none;
}

.nav-phone {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .nav-phone .call-icon {
    font-size: large;
  }
}

@media screen and (max-width: 768px) {
  .nav-phone .call-icon {
    font-size: medium;
  }
}

@media screen and (max-width: 454px) {
  .nav-item {
    font-size: small;
  }

  .nav-contact-text {
    font-size: small;
  }

  .whatsapp-icon {
    font-size: small;
    display: inline-flex;
  }
}

.nav-open {
  margin-top: 60px!important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end!important;
  }
}

/* Header section */

#home {
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.header-container {
  background-color: #fff5ec;
  width: 50%;
  border-radius: 10px;
}

.header-text {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.bg-home {
  background-color: #fff5ec;
}

.social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}

.icon-size {
  font-size: 4.5rem;
}

@media screen and (max-width: 767px) {
  .icon-size {
    font-size: 2.5rem;
  }

  #home {
    padding-bottom: 4rem;
  }

  .social-links {
    padding-top: 15px;
  }
}
/* About section */

.team-title {
  padding: 30px 15px 15px 15px;
  display: flex;
  justify-content: center;
}

.team-card {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.2), 0px 0px 0px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
}

#more {
  display: none;
}

.about-img {
  width: 60%;
  height: auto;
}

.cert-img-block {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

@media screen and (max-width: 767px) {
  .about-img {
    width: 90%;
  }

  .card-role {
    padding-bottom: 1rem!important;
  }

  .card-description {
    text-align: center!important;
  }

  .about-header {
    text-align: center;
  }

  .cert-img {
    width: 70px!important;
  }

  .cert-block {
    flex-direction: column!important;
  }

  .team-card-mobile {
    margin-top: 15px!important;
  }
}

.card-role {
  padding: 1.5rem 0rem 1.5rem 0rem;
}

.cert-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
}

/* Services section */

.list-group li {
  font-size: medium;
}

.price-card {
  box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.2), 0px 0px 0px 0 rgba(0, 0, 0, 0.19);
  max-width: 21rem!important;
}

.featured-service {
  width:500px;
  height:auto;
}
.more-info {
  font-size: medium;
  text-decoration: underline;
}

.price-list {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}

.price-name {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 65%;
}

.price-value {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 35%;
}

.price-title {
  padding: 0.8rem;
}

.care-name {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 80%;
}

.care-value{
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
  width: 20%;
}

.card-header {
  background-color: #fff5ec !important;
}

.pricing-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.card {
  max-width: 32rem!important;
  border-radius: unset!important;
}

#breed_image {
  width: 80%;
  padding-top: 15px;
}

.breed-img {
  display: flex;
  justify-content: center;
}

.breed-section {
  display: flex;
}

.breed-info {
  padding: 40px 100px 40px;
}

.breed-selector {
  width: 60%;
}

.breed-title {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.breed-stats {
  font-weight: 600;
}

.breed-stats a {
  font-weight: 300;
}

.breed-details {
  background-color: #fff5ec;
  padding: 8px;
  border: 1px solid;
}

@media screen and (max-width: 960px) {
  .breed-section {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .card {
    max-width: 21rem!important;
  }

  .breed-img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .breed-selector {
    width: 75%;
  }

  .breed-info {
    padding: 40px 40px;
  }

  .featured-service {
    width:380px!important;
    height:auto;
  }
}
@media screen and (max-width: 767px) {
  .pricing-group {
    flex-direction: row;
  }
}

.pricing-icons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-size: x-large;
}

/* Testimonials */
#testimonials {
  background-color: #fff5ec;
}

.review-card {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Gallery */

.gallery-thumbnail {
  display: flex;
  justify-content: center;
}

/* Contact section */

#contact {
  padding-top: 1.5rem;
}

.contact-quick-links {
  padding: 60px 220px;
  font-size: large;
}

.contact-quick-links h6 {
  font-size: x-large;
}

.map-iframe {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.contact-call-icon {
  color: #dd9a2e;
}

.contact-icon-text {
  text-decoration: none;
  color: black;
  padding: 6px;
}

.contact-links {
  display: flex;
  flex-direction: column;
}

#contact .nav-link {
  padding: 6px;
}

@media screen and (max-width: 767px) {
  .header-text {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .nav {
    flex-direction: column;
  }

  li {
    font-size: large;
    padding: 5px;
  }

  .card-body {
    padding: 15px 0px 0px 0px !important;
  }

  .contact-quick-links {
    padding: 40px;
    font-size: medium;
  }

  .contact-quick-links h6 {
    font-size: medium;
  }
}

/* Footer */

.footer-start {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: column;
}

.footer-end {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
}

@media screen and (max-width: 600px) {
  .footer-start, .footer-end {
    padding-right: 0px!important;
    padding-left: 0px!important;
  }

  .footer-email {
    font-size: small;
  }
}

@media screen and (min-width: 600px) {

  #carouselExampleControls {
    width: 70%;
    margin: auto;
  }
}

/* Pet Care HTML*/

#petCare {
  background-color: #fff5ec;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.pet-care-text {
  padding: 70px 100px;
}

.back-button {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 767px){
  .pet-care-text {
    padding: 70px 30px;
  }
}