@charset "UTF-8";

html {
  scroll-padding-top: 3.5rem;
}

section {
  padding-top: 2rem;
  padding-bottom: 9rem;
}

h1, h3, h4 {
  color: #dd9a2e;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}

p, li, h2, h5 {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}

li {
  color: #fff5ec;
}

/* Navbar */

.call-icon {
  text-decoration: none;
  color: #fff5ec;
}

.nav-tabs .nav-link.active {
  background-color: #fff5ec !important;
}

.navbar-collapse {
  justify-content: flex-end;
  padding: 10px 0px 0px 0px;
}

.navbar-toggler {
  background-color: #fff5ec !important;
}

.nav-link {
  color: #593f3b !important; 
}

.navbar {
  padding-bottom: 0px !important;
}

.navbar-toggler {
  margin-bottom: 7px !important;
}

.navbar-branding {
  text-decoration: none;
  font-size: 1.25rem;
  color: #fff;
  padding-left: 15px;
  padding-bottom: 10px;
}

.bg-colour-new {
  background-color: #dd9a2e;
}

/* Header section */

header {
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.header-container {
  background-color: #fff5ec;
  width: 50%;
  border-radius: 10px;
}

.header-text {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.bg-home {
  background-color: #fff5ec;
}

.social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.icon-size {
  font-size: 3.5rem;
}

/* About section */

.team-title {
  padding: 30px 15px 15px 15px;
  display: flex;
  justify-content: center;
}

.team-card {
  border: unset !important;
}

#more {
  display: none;
}

.about-img {
  width: 70%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .about-img {
    width: 90%;
  }

  .card-role {
    padding-bottom: 1rem!important;
  }

  .card-description {
    text-align: center!important;
  }

  .about-header {
    text-align: center;
  }
}

.card-role {
  padding-bottom: 3rem;
}

/* Services section */

.list-group li {
  font-size: medium;
}

.price-card {
  width: 80% !important;
}

.price-list {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}

.price-name {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 65%;
}

.price-value {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 35%;
}

.price-title {
  padding: 1rem;
}

.care-name {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 80%;
}

.care-value{
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
  width: 20%;
}

.card-header {
  background-color: #fff5ec !important;
}

.pricing-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.card {
  max-width: 32rem!important;
}

@media screen and (max-width: 600px) {
  .card {
    max-width: 21rem!important;
  }
}
@media screen and (max-width: 600px) {
  .pricing-group {
    flex-direction: row;
  }
}

.pricing-icons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

/* Contact section */

#contact {
  padding-top: 1.5rem;
}

.map-iframe {
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .header-text {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .nav {
    flex-direction: column;
  }

  li {
    font-size: small;
  }

  .card-body {
    padding: 15px 0px 0px 0px !important;
  }
}

/* Footer */

.footer-start {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: column;
}

.footer-end {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
}

@media screen and (max-width: 600px) {
  .footer-start, .footer-end {
    padding-right: 0px!important;
    padding-left: 0px!important;
  }

  .footer-email {
    font-size: small;
  }
}